{% extends 'base.html' %}


{% block title %}
<h1>loan aproval prediction</h1>

{% endblock title %}

{% block content %}


{% load static %}

<div class="container-fluid" style="height: 600px;" id="third">
    <div class="third">
        <h1 style="color: aqua; padding-left:  48%; padding-top: 60px;">About</h1>
        <p style="color: aliceblue; margin: 70px;">
            It is done by predicting if the loan can be given to that person on the basis of various parameters like credit score, income, age, marital status, gender, etc.
             The prediction model not only helps the applicant but also helps the bank by minimizing the risk and reducing the number of defaulters.
        </p>
    </div>
</div>


{% endblock content %}